<div class="col-xs-12 hero text-center">

</div>
<h1>Test</h1>
<br><br>
<div>
<% Category.all.each do |t| %>

        <div class="col-sm-2 cat col-xs-offset-1">
          <p>Make a new post for <%= link_to "#{t.name}", new_admin_category_post_path(t) %></p> <br />
        </div>
<% end %>

  <!--<%= link_to "Make a New Post for #{t.name}!", new_admin_category_post_path(t) %>
<% end %>
</div><br><br><br>-->



<div class="col-xs-10 col-xs-offset-1 categories text-center">
  <div class="col-sm-2 cat col-xs-offset-1">
    <h3>Fashion</h3>
    <p>Fashion</p> <br />
  </div>

  <div class="col-sm-2 cat">
    <h3>Music</h3>
    <p>Music</p><br />
  </div>

  <div class="col-sm-2 cat">
    <h3>Sports</h3>
    <p>Sports</p><br>
  </div>

  <div class="col-sm-2 cat">
    <h3>Cars</h3>
    <p>Cars</p> <br />
  </div>

  <div class="col-sm-2 cat">
    <h3>Art</h3>
    <p>Art</p> <br />
  </div>

</div>
